<template name="AddMessage">
  <form class="" id="addMessage">
    <div class="form-group">
      <label for="addTitle">Post name</label>
      <input class="form-control" id="addTitle" type="text"/>
    </div>

    <div class="form-group">
      <label for="addUrl">Add URL picture</label>
      <input class="form-control" id="addUrl" type="url"/>
    </div>


    <div class="form-group">
      <button class="form-control" type="submit">
        Submit
      </button>
    </div>

  </form>
</template>
